
.div-folder-items {
    background-position: 0% 0%;
    border: 4px solid #ffffff;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 2px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    min-width: 300px;
    padding: 20px;
    width: 300px;
    background-image: -ms-linear-gradient(top, #35b2f0 0%, #51a6d1 100%);
    background-color: #51a6d1;
    background-repeat: repeat;
    background-attachment: scroll;
}